/* Importaciones */

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Etiquetas */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul li
{
	list-style: none;
}

a
{
	text-decoration: none;
	color:  black;
}
footer
{
	width: 100%;
	height: 130px;
	background-color: black;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer p
{
	color: white;
	position: absolute;
	bottom: 10px;
	font-family: Roboto;
}
/* Clases */

.bloque
{
	height:100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}
.roboto
{
	font-family: 'Roboto';
}

.menu
{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px 0 30px;
	position: absolute;
	z-index: 1;
}
.menu li a
{
	color: white;
}

.contacto
{
	position: fixed;
	z-index: 10;
	background-color: rgba(0, 0, 0, .7);
	height: 100vh !important;
	width: 100%;
	display: none;
}
.Fcontacto
{
	background-color: white;
	width: 60%;
	padding: 40px 0 30px 0;
	border-radius: 5px;
	position: fixed;
	z-index: 20;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;	
}
.Fcontacto p
{
	font-family: Roboto;
	font-size: 15px;
	padding-bottom: 10px;
	color: gray;
}
.Fcontacto form
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
}

.Fcontacto form input[type="email"]
{
	width: 60%;
	padding: 5px;
	margin: 10px 0 10px 0;
	font-family: Roboto;
}
.Fcontacto form textarea
{
	width: 60%;
	padding: 5px;
	margin: 10px 0 10px 0;
	font-family: Roboto;
	resize: none;
}

.bloque .fondo
{
	height: 130vh;
	width: 130%;
	position: absolute;
	background-image: url('../image/fondo.jpg');
	background-repeat: none;
	background-size: cover;
	z-index: -1;
}

.enviar
{
	/* Tamaños */
	width: 20%;
	height: 30px;
	/* Que no tenga bordes (porque son feos :c los por defecto) */
	border: none;
	/* Se le quita el fondo para que solo se vea el : after */
	background-color: rgba(0, 0, 0, 0);
	/* Estilos de fuente */
	font-family: Roboto;
	color:  white;
	font-size: 15px;
	/* Para que no se vea la parte del otro color del : after */
	overflow: hidden;
	/* Para poder manipular correctamente los valores del : after al hacerlo relativo */
	position: relative;
}
.enviar:after
{
	/* Tiene que tener declarado el contenido para ver el after */
	content: "";
	/* Para manipular con relacion al boton */
	position: absolute;
	/* Colores del boton y after */
	background: linear-gradient(90deg,#97ED8A 0%, #97ED8A 50%,#45BF55 50%, #45BF55 100%);
	/* Tamaños (Es el doble del ancho que el boton ya que tambien contempla la parte del boton) */
	width: 200%;
	height: 30px;
	/* Para que se vea la parte del color original del boton */
	left: -100%;
	/* Para alinear el after */
	top: 0;
	/* Para que el texto del boton este sobre el after */
	z-index: -1;

	/* Efectos de transicion */
	transition: all, ease, 1s;
	-webkit-transition: all, ease, 1s;
	-moz-transition: all, ease, 1s;
	-o-transition: all, ease, 1s;
}
.enviar:hover:after
{
	left: 0%;
}
/* ------------------------------------------------- */

.instaLogo
{
	height: 30px;
	position: absolute;
}
.instaLogo img
{
	height: 30px;
}

.foto
{
	border: solid 10px white;
	height: 330px;
	width: 330px;
	background-color: gray;
	border-radius: 50%;
	position: absolute;
}
.foto img
{
	position: absolute;
}

.bloqueDos
{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}
.bloqueDos .desc
{
	height: 50%;
	width: 50%;
	font-family: Roboto;
	font-size: 20px;
	color: grey;
	overflow-y: scroll;
}
.bloqueDos .fotoDos
{
	height: 85%;
	width: 30%;
}

.flecha
{
	position: absolute;
	bottom: 40px;
	left: calc(50% - 20px);
	margin-left: auto;
	margin-right: auto;
	animation: flotan2;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-delay: 7s;
}
.flecha:before, .flecha:after
{
	content: "";
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: white;
	top: 0;
	left: 0;
}
.flecha:before
{
	transform: rotate(45deg) translateX(-23%);
	transform-origin: top left;
}
.flecha:after
{
	transform: rotate(-45deg) translateX(23%);
	transform-origin: top right;
}

@keyframes flotan2
{
	0% {bottom: 40px;}

	50% {bottom: 25px;}

	100% {bottom: 40px;}
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: rgba(0, 0, 0, .0);
}
::-webkit-scrollbar-thumb
{
	background-color: rgba(0, 0, 0, .8);
	border-radius: 5px;
}
/* Moviles */

/* Menores a 768 pixeles de ancho en pantalla */
@media screen and (max-width: 768px)
{
	.Fcontacto
	{
		background-color: white;
		width: 80%;
		padding: 50px 0 50px 0;
		border-radius: 5px;
		position: fixed;
		z-index: 20;
		
	}
}

/* Menores a 480 pixeles de ancho en pantalla */
@media screen and (max-width: 480px)
{
	.bloque h1
	{
		font-size: 22px;
	}

	.Fcontacto
	{
		background-color: white;
		width: 100%;
		padding: 50px 0 50px 0;
		border-radius: 5px;
		position: fixed;
		z-index: 20;
		
	}
	.Fcontacto form
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.Fcontacto form input[type="email"]
	{
		width: 70%;
		padding: 5px;
		margin: 10px 0 10px 0;
		font-family: Roboto;
	}
	.Fcontacto form textarea
	{
		width: 70%;
		padding: 5px;
		margin: 10px 0 10px 0;
		font-family: Roboto;
		resize: none;
	}

		.enviar
	{
		/* Comentarios atributo por atributo mas arriba */

		width: 20%;
		height: 30px;
		border: none;
		background-color: rgba(0, 0, 0, 0);
		font-family: Roboto;
		color:  white;
		font-size: 15px;
		overflow: hidden;
		position: relative;
	}
	.enviar:after
	{
		/* Comentarios atributo por atributo mas arriba */

		content: "";
		position: absolute;
		background: linear-gradient(90deg,#97ED8A 0%, #97ED8A 50%,#45BF55 50%, #45BF55 100%);
		width: 200%;
		height: 30px;
		left: -100%;
		top: 0;
		z-index: -1;

		/* Efectos de transicion */
		transition: all, ease, 1s;
		-webkit-transition: all, ease, 1s;
		-moz-transition: all, ease, 1s;
		-o-transition: all, ease, 1s;
	}
	.enviar:hover:after
	{
		left: 0%;
	}
}